@import "colors&fonts";
@import "variables.scss";

//Вложенность
.trello {
  margin: 0;
  background-color: $gray;
  //Хедер трелло с таймером
  .trello-header {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    @include header;
    .trello-header__headline {
      @include font;
      font-size: 28px;
    }
    .trello-header__timer {
      @include font;
      width: 100px;
      height: 40px;
      background-color: $white;
      @include flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }
  }
  //Карточки трелло (туду, прогресс, доне)
  .trello-main {
    margin: 0 auto;
    width: 1400px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    //TO DO
    .main__container-todo {
      @include containers;
      @include font;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .main__container-todo__header {
        @include container-header;
        background-color: $green;
      }
      .main__container-tasks {
        @include container-main;
        //TASK в TODO
        .main__container-todo__task {
          @include task;
          @include flex;
          background-color: $green;
          flex-direction: column;
          .main__container-todo__task-title {
            @include flex;
            .main__container-todo__task-title__info {
            }
            .main__container-todo__task-title__buttons {
              .main__container-todo__task-title__button-edit {
                @include button-in-task;
              }
              .main__container-todo__task-title__button-delete {
                @include button-in-task;
              }
            }
          }
          .main__container-todo__task-description {
            @include flex;
            .main__container-todo__task-description__info {
            }
            .main__container-todo__task-description__button-arrow {
              @include button-in-task;
              width: 30px;
              height: 40px;
            }
          }
          .main__container-todo__task-user {
            @include flex;
            .main__container-todo__task-user__info {
            }
            .main__container-todo__task-user__info {
            }
          }
        }
      }
      .main__container-todo__footer {
        @include container-footer;
        background-color: $green;
      }
    }
    //IN PROGRESS
    .main__container-inprogress {
      @include containers;
      @include font;
      .main__container-inprogress__header {
        @include container-header;
        background-color: $gray;
      }
      .main__container-tasks {
        @include container-main;
        //TASK в IN PROGRESS
        .main__container-inprogress__task {
          @include task;
          @include flex;
          background-color: $gray;
          flex-direction: column;
          .main__container-inprogress__task-title {
            @include flex;
            .main__container-inprogress__task-title__info {
            }
            .main__container-inprogress__task-title__buttons {
              .main__container-inprogress__task-title__button-back {
                @include button-in-task;
              }
              .main__container-inprogress__task-title__button-complete {
                @include button-in-task;
              }
            }
          }
          .main__container-inprogress__task-description {
            @include flex;
            .main__container-inprogress__task-description__info {
            }
          }
          .main__container-inprogress__task-user {
            @include flex;
            .main__container-inprogress__task-user__info {
            }
            .main__container-inprogress__task-user__info {
            }
          }
        }
      }
    }
    //DONE
    .main__container-done {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include containers;
      @include font;
      .main__container-done__header {
        @include container-header;
        background-color: $blue;
      }
      .main__container-tasks {
        @include container-main;
        //TASK в DONE
        .main__container-done__task {
          @include task;
          @include flex;
          background-color: $blue;
          flex-direction: column;
          .main__container-done__task-title {
            @include flex;
            .main__container-done__task-title__info {
            }
            .main__container-done__task-title__button-delete {
              @include button-in-task;
            }
          }
          .main__container-done__task-description {
            @include flex;
            .main__container-done__task-description__info {
            }
          }
          .main__container-done__task-user {
            @include flex;
            .main__container-done__task-user__info {
            }
            .main__container-done__task-user__info {
            }
          }
        }
      }
      .main__container-done__footer {
        @include container-footer;
        background-color: $blue;
      }
    }
  }
}
