@import "colors&fonts";

//миксин хедера-трелло c временем
@mixin header {
  width: 1400px;
  height: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: $purple;
  border-radius: 20px;
}

//миксинs карточки
@mixin containers {
  width: 300px;
  height: 650px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 20px;
}

//миксин хедера карточки
@mixin container-header {
  width: 300px;
  height: 100px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

//миксин мейна карточки
@mixin container-main {
  width: 300px;
  height: 470px;
}

//миксин футтера карточки
@mixin container-footer {
  width: 300px;
  height: 80px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 20px;
}

//Миксины task
//task
@mixin task {
  width: 280px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(233, 212, 212);
  border: 1px solid rgb(46, 43, 43);
}

//кнопочки в task
@mixin button-in-task {
  border: 1px;
  background-color: $white;
  border-radius: 5px;
}

//миксин флекса для task)
@mixin flex {
  display: flex;
  justify-content: space-around;
}
